input, button,select{
    border-radius: 15px;
    height: 30px;
    border-color: navy;
}

label{
    color: darkblue;
    font-family: cursive;
}

div:hover{
    
    transform: scale(1.05);
 /* box-shadow: 10px 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06); */
 box-shadow: 10px 10px  10px 10px gainsboro;
 

}